{% extends 'home/base.html'%}
{% block content %}
    <div class="section-about pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 d-none d-md-inline order-md-1">
                    <img class="w-100" src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-about-me-img.png" />
                </div>
                <div class="col-12 col-md-6 order-md-2">
                    
                    <h1 class="about-main-heading">About Us</h1>
                    <img class="w-100 d-md-none" src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-about-me-img.png" />
                    <p class="about-description mt-3">Regaining health in an unhealthy world requires thinking and acting differently. It requires putting your trust not in industry ads or dogma, but in science and nature. In the surprising power of your own body to return to health, given the right environment and evidence-based lifestyle changes.<br/><br/>
                        Our mission is to find the most trustworthy science and practical knowledge about health, make it inspiring and simple to use, and accessible and free for everyone. We’re focusing on making low carb simple for people who could benefit, and who want to try it.<br/><br/>
                        
                        Our long-term purpose is empowering people everywhere to dramatically improve their health.<br/><br/>
                        
                        There’s a great need for this. While there is plenty of free information available online, most of it is hard to trust. Websites are often trying to sell a specific product, a pill, or push an agenda for the people funding it. But real long-term health can’t easily be found in a pill. And nobody can outrun a bad diet.<br/><br/>
                        
                        We aim to provide unbiased and evidence-based information, as well as free and inspiring tools to help improve your health. We’re fully funded by the people, via an optional membership.
                         We have no investors with an agenda, instead we’re owned by the people who work here. We show no ads, sell no products and take no industry money.
                        
                        Welcome to Diet Doctor, the largest low-carb site in the world. We make low carb simple.</p>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}