{% extends "home/base.html" %}

{% block content %}

{% if apps|length > 0 %}

{% for app in apps %}
 <div class="card">
    
    <h6>Appointment Date:  {{app.appointment_date}}</h6>
    <h6>Appointment Time:  {{app.appointment_time}}</h6>
    
    <h6>Description of your problem:  {{app.appointment_description}}</h6>
    <h6>Email:  {{ app.user.email }}</h6>
    
    <!-- <h6>Status: <i class="fas fa-circle" {% ifequal app.status  0 %} style=" color: orange;" {% endifequal %} {% ifequal app.status  1 %} style=" color: green;" {% endifequal %} {% ifequal app.status 2 %} style="color:red;" {% endifequal %} ></i> {% ifequal app.status  0 %} Pending {% endifequal %} {% ifequal app.status  1 %} Accepted {% endifequal %} {% ifequal app.status 2 %} Rejected {% endifequal %}</h6> -->
    <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ app.id }}" name="id1">
        <input type="radio" name="stat" value="1">Accept
        <input type="radio" name="stat" value="2">Reject
        <button type="submit" class="btn btn-success lo">Submit</button>

    </form>

</div>
{% endfor %}

{% else %}
<h1>No Pending appointments</h1>
{% endif %}

{% endblock %}